.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviewer-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.read-more-btn {
  color: #00ff00;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
