# This is the port our server will be running on
PORT=3000

# This is the URL the server will use for the database. The example is an Atlas URL, but can be anything
MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/<dbName>?retryWrites=true&w=majority

# When running cypress tests, make sure to change the database. Our cypress will only seed/clean databases that are called cypressDatabase to protect our normal data
# MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/cypressDatabase?retryWrites=true&w=majority

# Email credentials for sending emails
# REGULAR EMAIL PASSWORD IS NOT APP PASSWORD. YOU NEED APP PASSWORD
HOST_EMAIL =  
HOST_EMAIL_APP_PASSWORD = 

# Cloudinary Name, API key and API secret 
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#  you need this shit for firebase apparently.
SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_CERT_URL=
FIREBASE_CLIENT_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=