/* .carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: #484747;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
*/
.react-multi-carousel-list {
  overflow: visible !important;
}

.react-multi-carousel-track {
  gap: 10px;
}

.book-card {
  cursor: pointer;
  width: 100%;
  height: 400px;
}

.react-multiple-carousel__arrow--left {
  left: calc(-5% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(-5% + 1px) !important;
}

.truncate-text {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* For small screens */
@media (max-width: 767px) {
  .book-card {
    height: 350px !important;
  }
  .book-card img {
    height: 170px !important;
  }
  .truncate-text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .react-multiple-carousel__arrow--right {
    right: calc(2% + 1px) !important;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(2% + 1px) !important;
  }
}
